<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <!-- Basic Page Info -->
        <meta charset="utf-8">
        <title>Al-Mazadi - Marketing Admin Dashboard</title>
        {% load static %}
        
    
        <!-- Site favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/almazadi/logo2.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/almazadi/logo2.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/almazadi/logo2.png'%}">
        
        {% block css %}
        {% endblock css %}
    </head>
    <body class="header-dark">
        <div class="pre-loader">
            <div class="pre-loader-box">
                <div class="loader-logo"><img src="{% static 'images/almazadi/logo2.png'%}" alt=""></div>
                <div class='loader-progress' id="progress_div">
                    <div class='bar' id='bar1'></div>
                </div>
                <div class='percent' id='percent1'>0%</div>
                <div class="loading-text">
                    Loading...
                </div>
            </div>
        </div>
    
        {% include 'header.html' %}
        
        {% include 'leftnav.html' %}
    
        
                    {% block body %}
    
                    {% endblock body %}
    
    
    
                    <div class="footer-wrap pd-20 mb-20 card-box">
                        Al-Mazadi Marketing Tool  <a href="https://almazadi.com" target="_blank">Al-Mazadi.com</a>
                    </div>
            </div>
        </div>
        {% block js %}
        {% endblock js %}
    </body>
    </html>
    